body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.displayed {
    max-width: 100%;
    display: inline-block;
}
.flip-container {
    width: 480px;
    height: 600px;
    padding: 10px;
    margin-bottom: 10px;
    perspective: 3000px;
}
.flipper {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.flipper div {
    width: 100%;
    height: 100%;
    line-height: 600px;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.flipper .front {
    background: pink;
    transform: rotateY(0deg);
}
.flipper .back {
    transform: rotateY(180deg);
}
.flipper.flipped {
    transform: rotateY(180deg);
}
